body {
    background-color: #222222;
}

h1 {
    text-align: center;
}

.enterComment{
    width: 430px;
    height: 195px;
    border: 1px solid lawngreen;
    border-radius: 10px;
    padding-top: 5px;
}

.authorName {
    padding-left: 14px;
    /*color: darkseagreen;
    border-radius: 10px;*/
}

.color {
    color: darkseagreen;
}


.correct.error { /*этот класс применяется при наличии ошибок*/
    color:indianred;
    padding-left: 14px;
}

.authorComment {
    padding-left: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.conner{
    border-radius: 5px;
}

.butAdd {
    cursor: pointer;
    margin-left: 14px;
    border-radius: 5px;
}

.butAddFB{
    cursor: pointer;
    margin-left: 12px;
    border-radius: 5px;

}

.hidden {
    /*display: none;*/
    visibility: hidden;
}

.butReset {
    cursor: pointer;
    margin-left: 12px;
    border-radius: 5px;
}

.comment {
    margin-bottom: 10px;
    margin-top: 10px;

}

.comment.container {

    width: 420px;
    border: 1px solid lawngreen;
    border-radius: 10px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;


    /*  background: darkgreen; /* Цвет фона */
    /*outline: 1px solid #000; /* Чёрная рамка */
    /*border: 3px solid #fff; /* Белая рамка */
    /*  border-radius: 10px; /* Радиус скругления */
}

.commentBlock {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 2px;
    width: 408px;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 5px;
}

.commentAuthor{
    font: 11px Monospace;
    padding-top: 3px;
}

.commentData{
    font: 11px Monospace;
}

.commentText{
    border-top: 1px solid deeppink;
    margin-top: 5px;
    padding-top: 5px;
    width: 401px;
}

.answer {
    text-align: right;
    margin-right: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

